In [18]:
import pandas as pd
import numpy as np

In [74]:
df=pd.read_excel('urldata.xlsx')

In [75]:
df

  Device_Type                            Stats_Access_Link
0     AxXO145  <url>http:// xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326       <url>http://ret323_Tru.crown.com</url>
4      LWE245       <url>http://luwr3243.celcius.com</url>

In [76]:
df

  Device_Type                            Stats_Access_Link
0     AxXO145  <url>http:// xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326       <url>http://ret323_Tru.crown.com</url>
4      LWE245       <url>http://luwr3243.celcius.com</url>

In [77]:
link1=df['Stats_Access_Link'].apply(lambda link: link.split('/')[2])

In [78]:
df['link1']=link1

In [79]:
df

,Device_Type,Stats_Access_Link,link1
0,AxXO145,<url>http:// xcd32112.smart_meter.com</url>,xcd32112.smart_meter.com<
1,TRU151,<url>http://tXh67.dia_meter.com</url>,tXh67.dia_meter.com<
2,ZOD231,<url>http://yT5495.smart_meter.com</url>,yT5495.smart_meter.com<
3,YRT326,<url>http://ret323_Tru.crown.com</url>,ret323_Tru.crown.com<
4,LWE245,<url>http://luwr3243.celcius.com</url>,luwr3243.celcius.com<

In [80]:
link=df['link1'].apply(lambda link: link.split('<')[0])

In [81]:
df['link']=link

In [82]:
df

,Device_Type,Stats_Access_Link,link1,link
0,AxXO145,<url>http:// xcd32112.smart_meter.com</url>,xcd32112.smart_meter.com<,xcd32112.smart_meter.com
1,TRU151,<url>http://tXh67.dia_meter.com</url>,tXh67.dia_meter.com<,tXh67.dia_meter.com
2,ZOD231,<url>http://yT5495.smart_meter.com</url>,yT5495.smart_meter.com<,yT5495.smart_meter.com
3,YRT326,<url>http://ret323_Tru.crown.com</url>,ret323_Tru.crown.com<,ret323_Tru.crown.com
4,LWE245,<url>http://luwr3243.celcius.com</url>,luwr3243.celcius.com<,luwr3243.celcius.com

In [ ]:
#if we want to remove first two columns we can do below
df.drop(['link1'],axis=1,inplace=True)